
/*
Gallery
*/

.ilsh-gallery-block{
    margin: 10px auto;
    width: 100%;
}

.ilsh-gallery-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ilsh-gallery-li{
    display: inline-block;
    position: relative;
}

.ilsh-gallery-admin-li{
    border: 1px solid #888;
    margin: 5px;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

.ilsh-gallery-remove{
    position: absolute;   
    height: 16px;    
    top:0;
    right: 0;
    cursor:pointer; 
    z-index: 999;
}

.ilsh-gallery-edit{      
    height: 16px; 
    cursor:pointer; 
    z-index: 999;
}

.ilsh-gallery-edit-link{
    padding: 0;
    position: absolute;   
    height: 16px;    
    top:0;
    left: 0;
    cursor:pointer; 
    z-index: 999;
}

.ilsh-gallery-attachment{
    margin: 0;
    padding: 0; 
    border: 10px solid #eee;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ilsh-gallery-attachment:hover{
    -webkit-transform: scale(1.03);    
    -moz-transform: scale(1.03);    
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 0.5;   
    cursor: pointer;
}

.ilsh-files{
    display: none;
}

.ilsh-stable-size{
    width: 150px;
    height: 150px; 
}

/*
Update attachment popup
*/
#TB_ajaxContent{
    width: 95%!important;
    height: 95%!important;
}

.ilsh-update-attachment-table{
    border: none;
    width: 100%;
    margin-top: 30px;
}

.ilsh-update-attachment-table tr{
    border: none;
    width: 100%;
}

.ilsh-update-attachment-table td{
    padding-top: 50px;
}

.ilsh-update-attachment-table td:nth-child{
    border: none;
    width: 25%;    
}

.ilsh-update-attachment-table td input{
    width: 100%;
    padding: 5px;
}

.ilsh-update-attachment-table td textarea{
    width: 100%;
    padding: 5px;
}

.ilsh-update-attachment-data{
    margin: 20px auto!important;
    display: block!important;
}

.ilsh-update-attachment-mess td{
    text-align: center;
    color: #1C7718;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background: rgba(119,235,78,0.7)
}

/*
Preview Gallery
*/
#ilsh-live-preview{
    color: #23282d;
    line-height: 1.4;
    font-size: 14px;
}

#ilsh-result-wrapp{
    display:none;
}

#ilsh-result-wrapp button{
    text-shadow: none;
    box-shadow: none;
}

#ilsh-result-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#ilsh-result-table td{
    border-bottom: 5px solid #eee;
    border-top: 5px solid #eee;
    padding: 5px;
    text-align: right;
}

#ilsh-result-table tr td:nth-child(1){
    text-align: left;
}

#ilsh-clear{
    background: #D74949; 
    border-color: #D74949;
}

.ilsh-preview-remove{
    background: #D74949 !important; 
    border-color: #D74949 !important;
}

#ilsh-clear:hover{
    background: #EE2525; 
    border-color: #EE2525;
}

.ilsh-preview-remove:hover{
    background: #EE2525 !important; 
    border-color: #EE2525 !important;
}

#ilsh-upload{
    background: #57CF0E; 
    border-color: #57CF0E;
}

#ilsh-upload:hover{
    background: #1EAC19; 
    border-color: #1C7718;
}

/*
Popup + Overlay
*/

.ilsh-hide{
    display: none;
}

.ilsh-ajax-loader{
    display:block;
    margin: 10px auto;
}

#ilsh-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:99999;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=70);
    background-color: black;
}

#ilsh-mess-popup{    
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 15%;
    line-height: 1.5;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    z-index:999999;
    overflow: auto;
    text-align: center;
}

.success{
    color:green;
}

.error{
    color:red;
}

/*
UI Progress Bar
*/

.ui-progressbar {
    position: relative;
 }
 .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/*
Front End 
*/


/*
Setting Page
*/
.setting-info-div{
    width: 50%;
    line-height: 1.7em;
}